{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>{% block title %}My shop{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
	{% include 'navbar.html' %}
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

	<!-- Link to your js file -->
	<script src="{% static 'js/main.js' %}"></script>

	<!-- Link to your extra javascript/jquery file -->
	{% block extra_js %}{% endblock %}
</body>

</html>